flows/Motion Training and Testing - All in Cloud.json
[
    {
        "id": "8605b5aa.204638",
        "type": "tab",
        "label": "Motion Training/Testing - All in Cloud",
        "disabled": false,
        "info": ""
    },
    {
        "id": "606c4419.e7037c",
        "type": "switch",
        "z": "8605b5aa.204638",
        "name": "Recorded ?",
        "property": "recorded",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "404537c7.350758"
            ]
        ]
    },
    {
        "id": "dbc3913b.00b2a",
        "type": "ui_text",
        "z": "8605b5aa.204638",
        "group": "d7de477f.967218",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recoded events:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "e23746b3.4f6598",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "Motion Training - Demo Flow",
        "info": "",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "22828437.ca1c6c",
        "type": "rpi-sensehat in",
        "z": "8605b5aa.204638",
        "name": "Motions",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 90,
        "y": 800,
        "wires": [
            [
                "5f7bffaa.5444"
            ]
        ]
    },
    {
        "id": "9baf86b6.989938",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Store Motions",
        "func": "// Get Motion Array\nvar motions = flow.get('motions') || [];\nvar acceleration = flow.get('acceleration') || [];\nvar qyroscope = flow.get('qyroscope') || [];\nvar orientation = flow.get('orientation') || [];\nvar compass = flow.get('compass') || [];\nvar timestamp = flow.get('timestamp' || []);\nvar figure = flow.get('figure');\nvar userid = flow.get('userid');\nvar motionset = flow.get('motionset');\nvar dat = new Date();\n\n// Enhance Metadata\nmsg.payload.device = \"tjbot-02\";\nmsg.payload.userid = userid;\nmsg.payload.figure = figure;\nmsg.payload.motionset = motionset;\nmsg.payload.timestamp = Math.floor(dat);\nmsg.payload.date = dat.toJSON();\n\n// Push and store values\nmotions.push(msg.payload);\nacceleration.push(msg.payload.acceleration);\nqyroscope.push(msg.payload.qyroscope);\norientation.push(msg.payload.orientation);\ncompass.push(msg.payload.compass);\ntimestamp.push(msg.payload.timestamp);\n\n// Store Environment\nflow.set('motions',motions);\nflow.set('acceleration', acceleration);\nflow.set('qyroscope', qyroscope);\nflow.set('orientation', orientation);\nflow.set('compass',compass);\nflow.set('timestamp',timestamp);\nflow.set('recorded', true);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "90fffd8c.a1d42"
            ]
        ]
    },
    {
        "id": "57bd09dd.c8f2c8",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "Recorded Elements",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 850,
        "y": 820,
        "wires": []
    },
    {
        "id": "ddf6a623.eaa7f8",
        "type": "ui_button",
        "z": "8605b5aa.204638",
        "name": "Start",
        "group": "d7de477f.967218",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Recording",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "fc043f8a.0e326",
                "3087b1a3.dc4bae"
            ]
        ]
    },
    {
        "id": "4ea75d8a.8ac764",
        "type": "ui_button",
        "z": "8605b5aa.204638",
        "name": "Stop",
        "group": "d7de477f.967218",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Stop Recording",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "fc043f8a.0e326"
            ]
        ]
    },
    {
        "id": "77a665ca.78094c",
        "type": "ui_text",
        "z": "8605b5aa.204638",
        "group": "d7de477f.967218",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Motion Recording",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "fc043f8a.0e326",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "Set Motion",
        "rules": [
            {
                "t": "set",
                "p": "store",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "2baf6c9.0648594",
                "2f8ff1b.0c3910e"
            ]
        ]
    },
    {
        "id": "5f7bffaa.5444",
        "type": "switch",
        "z": "8605b5aa.204638",
        "name": "Store ?",
        "property": "store",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "9baf86b6.989938"
            ],
            [
                "606c4419.e7037c"
            ]
        ]
    },
    {
        "id": "404537c7.350758",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recorded",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "motions",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "57bd09dd.c8f2c8",
                "7c763a0c.3f3f74",
                "a83e6771.607cb8"
            ]
        ]
    },
    {
        "id": "3087b1a3.dc4bae",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "None",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "recorded",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "2ce9a2b2.d0814e"
            ]
        ]
    },
    {
        "id": "492c6db2.94ea94",
        "type": "link in",
        "z": "8605b5aa.204638",
        "name": "Store ",
        "links": [
            "7c763a0c.3f3f74"
        ],
        "x": 75,
        "y": 1080,
        "wires": [
            [
                "6d7bd231.98ce3c"
            ]
        ]
    },
    {
        "id": "7c763a0c.3f3f74",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump Detect",
        "links": [
            "492c6db2.94ea94"
        ],
        "x": 775,
        "y": 860,
        "wires": []
    },
    {
        "id": "d1ae4033.0fe0b",
        "type": "ui_dropdown",
        "z": "8605b5aa.204638",
        "name": "",
        "label": "Figure",
        "place": "Select option",
        "group": "d7de477f.967218",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            },
            {
                "label": "9",
                "value": "9",
                "type": "str"
            },
            {
                "label": "-",
                "value": "-",
                "type": "str"
            },
            {
                "label": "+",
                "value": "+",
                "type": "str"
            },
            {
                "label": "/",
                "value": "/",
                "type": "str"
            },
            {
                "label": "x",
                "value": "x",
                "type": "str"
            },
            {
                "label": "=",
                "value": "=",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "dbddd17d.db182",
                "10fc35ca.fd991a"
            ]
        ]
    },
    {
        "id": "dbddd17d.db182",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "Set Figure",
        "rules": [
            {
                "t": "set",
                "p": "figure",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "3c539006.47f35"
            ]
        ]
    },
    {
        "id": "f17543f6.1c3a2",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Init Environment",
        "func": "// Set defaults for choice \n//     {\"/\":\"/\"}\nvar figures = [\"0\", \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"+\", \"-\", \"/\", \"x\", \"=\"];\n\n// store --> every event into array\nflow.set('store',false);\n\n// recorded --> the set is ready to save\nflow.set('recorded', false);\n\n// Array of recorded elements\nflow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\nflow.set('timestamp',[]);\nflow.set('userid',1);\nflow.set('figures', figures);\nflow.set('curfig',0);\n\n// Set Figure to default\nmsg.options = figures;\nmsg.payload = \"0\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "d1ae4033.0fe0b",
                "9c83fc4b.ef40c"
            ]
        ]
    },
    {
        "id": "36503a3a.bb2b76",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "Handle Motions",
        "info": "",
        "x": 120,
        "y": 660,
        "wires": []
    },
    {
        "id": "666f2343.2e02fc",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "Detect figure",
        "info": "",
        "x": 110,
        "y": 940,
        "wires": []
    },
    {
        "id": "12780e85.7c07e1",
        "type": "link in",
        "z": "8605b5aa.204638",
        "name": "Show recorded Elements",
        "links": [
            "2ce9a2b2.d0814e",
            "3c539006.47f35",
            "2edf9576.35709a"
        ],
        "x": 75,
        "y": 520,
        "wires": [
            [
                "dbc3913b.00b2a"
            ]
        ]
    },
    {
        "id": "2ce9a2b2.d0814e",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump show",
        "links": [
            "12780e85.7c07e1"
        ],
        "x": 675,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c539006.47f35",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump show",
        "links": [
            "12780e85.7c07e1"
        ],
        "x": 795,
        "y": 200,
        "wires": []
    },
    {
        "id": "a83e6771.607cb8",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "Set length",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 900,
        "wires": [
            [
                "2edf9576.35709a"
            ]
        ]
    },
    {
        "id": "2edf9576.35709a",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump show",
        "links": [
            "12780e85.7c07e1"
        ],
        "x": 935,
        "y": 900,
        "wires": []
    },
    {
        "id": "4b60e99b.b750d8",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Reset Arrays",
        "func": "// reset arrays \nflow.set('motions',[]);\nflow.set('acceleration',[]);\nflow.set('qyroscope', []);\nflow.set('orientation', []);\nflow.set('compass',[]);\nflow.set('timestamp',[]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f226ab2f.41a368",
        "type": "ui_numeric",
        "z": "8605b5aa.204638",
        "name": "",
        "label": "UserId",
        "group": "d7de477f.967218",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "319d9cbf.405bb4"
            ]
        ]
    },
    {
        "id": "9c83fc4b.ef40c",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Gen UserID",
        "func": "msg.payload = Math.floor(Math.random() * Math.floor(100));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "f226ab2f.41a368"
            ]
        ]
    },
    {
        "id": "319d9cbf.405bb4",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "Set userid",
        "rules": [
            {
                "t": "set",
                "p": "userid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "eac4868f.ca9d68",
        "type": "inject",
        "z": "8605b5aa.204638",
        "name": "Send On",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "9935c275.7dda1"
            ]
        ]
    },
    {
        "id": "b2bd42d4.15ada",
        "type": "change",
        "z": "8605b5aa.204638",
        "name": "Train",
        "rules": [
            {
                "t": "set",
                "p": "train",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "11035693.e47a59",
        "type": "inject",
        "z": "8605b5aa.204638",
        "name": "Send Off",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "9935c275.7dda1",
                "f17543f6.1c3a2",
                "4ea75d8a.8ac764"
            ]
        ]
    },
    {
        "id": "9935c275.7dda1",
        "type": "ui_switch",
        "z": "8605b5aa.204638",
        "name": "",
        "label": "Detect / Train",
        "group": "d7de477f.967218",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "b2bd42d4.15ada"
            ]
        ]
    },
    {
        "id": "2246715.234b28e",
        "type": "rpi-sensehat in",
        "z": "8605b5aa.204638",
        "name": "Joystick",
        "motion": false,
        "env": false,
        "stick": true,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "a7c0ae79.facc7"
            ]
        ]
    },
    {
        "id": "a7c0ae79.facc7",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "start / stop",
        "func": "// get store \nvar store = flow.get(\"store\");\n\n// get the values from the SenseHAT\nvar key = msg.payload.key;\nvar state = msg.payload.state;\n\n// ret messages\nvar msg1 = null;\nvar msg2 = null;\nvar msg3 = null;\n\nif (key === \"ENTER\" && state === 1) {\n    if (store === true) {\n        msg2 = { payload: false };\n        flow.set(\"store\", false);\n    } else {\n        msg3 = { payload: true };\n        flow.set(\"store\", true);\n        flow.set(\"motionset\", new Date());\n    }\n} else if (key === \"UP\" && state === 1) {\n    if (store === false) {\n        var figures = flow.get('figures');\n        var curfig = flow.get('curfig') + 1;\n        if (curfig === figures.length) {\n            curfig = 0;\n        }\n        flow.set('curfig', curfig);\n        msg1 = { payload: figures[curfig] };\n    }\n} else if (key === \"DOWN\" && state === 1) {\n    if (store === false) {\n        var figures = flow.get('figures');\n        var curfig = flow.get('curfig') - 1;\n        if (curfig < 0) {\n            curfig = figures.length-1;\n        }\n        flow.set('curfig', curfig);\n        msg1 = { payload: figures[curfig] };\n    }\n}\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "d1ae4033.0fe0b"
            ],
            [
                "4ea75d8a.8ac764"
            ],
            [
                "ddf6a623.eaa7f8"
            ]
        ]
    },
    {
        "id": "f12612a9.93ec2",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "IoT Sent Motions",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "90fffd8c.a1d42",
        "type": "switch",
        "z": "8605b5aa.204638",
        "name": "Send ?",
        "property": "train",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 740,
        "wires": [
            [
                "f12612a9.93ec2",
                "e648018.7cc5"
            ]
        ]
    },
    {
        "id": "6504f80a.554ac8",
        "type": "rpi-sensehat out",
        "z": "8605b5aa.204638",
        "name": "SenseHAT Display",
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "10fc35ca.fd991a",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "HAT Msg",
        "func": "var rotation = global.get(\"rotation\");\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + msg.payload;\n}\n\nmsg.speed = 4;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 676,
        "y": 259.5,
        "wires": [
            [
                "977458de.bfce68"
            ]
        ]
    },
    {
        "id": "6d7bd231.98ce3c",
        "type": "switch",
        "z": "8605b5aa.204638",
        "name": "Detect ?",
        "property": "train",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 1080,
        "wires": [
            [
                "4b60e99b.b750d8",
                "68dac42b.515f4c",
                "e69f45b9.c0b698"
            ],
            [
                "4b60e99b.b750d8"
            ]
        ]
    },
    {
        "id": "68dac42b.515f4c",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "Motion Event Array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 430,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e648018.7cc5",
        "type": "wiotp out",
        "z": "8605b5aa.204638",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "787dd67f.06a908",
        "deviceType": "",
        "deviceId": "",
        "event": "motions",
        "format": "json",
        "qos": "",
        "name": "Send to IBM IoTF",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "2baf6c9.0648594",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Highlight figure",
        "func": "var rotation = global.get(\"rotation\");\nvar figure = flow.get('figure') || '';\nvar train = (flow.get('train') === true);\nvar store = (flow.get('store') === true);\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + (train ? figure : '>')\n}\n\nif (store) {\n    msg.color = (train ? 'red' : 'green') \n}\n\nmsg.speed = 4\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "842f323d.2f3b9"
            ]
        ]
    },
    {
        "id": "8d45d703.aa0988",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Classification for SenseHAT",
        "func": "// read the gloabl rotation value\nvar rotation = global.get(\"rotation\");\n\n// display the predicted figure in blue\nmsg.payload = rotation + \"\\n\" + msg.payload.figure;\nmsg.color = 'blue'\nmsg.speed = 4;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 1220,
        "wires": [
            [
                "c801c64f.d8f0e8"
            ]
        ]
    },
    {
        "id": "2f8ff1b.0c3910e",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Set Message",
        "func": "msg.payload = msg.payload ? 'running' : 'stopped';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "77a665ca.78094c",
                "28ecfc31.b6f584"
            ]
        ]
    },
    {
        "id": "24c93f57.c3d7e",
        "type": "ui_text",
        "z": "8605b5aa.204638",
        "group": "d7de477f.967218",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Classification",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "144a2a65.e3a846",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Classification for GUI",
        "func": "msg.payload = msg.payload.figure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1260,
        "wires": [
            [
                "cd336f2b.e0774"
            ]
        ]
    },
    {
        "id": "28ecfc31.b6f584",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Reset classification",
        "func": "if (msg.payload) {\n    msg.payload = '';\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "394ebdd7.1ba792"
            ]
        ]
    },
    {
        "id": "683a1ca9.d16f24",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "Classification Outcome",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1000,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1e1b1cbe.7d9d83",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Spoken Words",
        "func": "if (msg.payload.figure == '<no-motion>') {\n    msg.payload = 'You did not move the Raspi!';\n    \n} else if (msg.payload.figure == '<to-short>') {\n    msg.payload = 'The recorded motion was to short.';\n\n} else if (msg.payload.figure == '<unknown>') {\n    msg.payload = 'I could not clearly recognize what you have drawn.';\n\n} else {\n    msg.payload = 'You have drawn a ' + msg.payload.figure + '.';\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1360,
        "wires": [
            [
                "33a0108b.ceb7",
                "d0f4104b.114ab"
            ]
        ]
    },
    {
        "id": "33a0108b.ceb7",
        "type": "watson-text-to-speech",
        "z": "8605b5aa.204638",
        "name": "",
        "lang": "en-GB",
        "langhidden": "en-GB",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-GB_KateVoice",
        "voicehidden": "en-US_MichaelVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "kAZvmknmqsmpoFTp3y3mN_GMC5Sb3PNY8JrSWM8AWvPo",
        "payload-response": false,
        "default-endpoint": false,
        "service-endpoint": "https://stream-fra.watsonplatform.net/text-to-speech/api",
        "x": 1200,
        "y": 1380,
        "wires": [
            [
                "47b256d4.cae608"
            ]
        ]
    },
    {
        "id": "47b256d4.cae608",
        "type": "speakerpi-output",
        "z": "8605b5aa.204638",
        "choose": "filebased",
        "filename": "",
        "channels": "1",
        "bitdepth": "8",
        "samplerate": "22050",
        "name": "Speak",
        "x": 1370,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1f57c0d7.6c215f",
        "type": "link in",
        "z": "8605b5aa.204638",
        "name": "Jump Classification",
        "links": [
            "cd336f2b.e0774",
            "394ebdd7.1ba792"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "24c93f57.c3d7e"
            ]
        ]
    },
    {
        "id": "cd336f2b.e0774",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump to Classification",
        "links": [
            "1f57c0d7.6c215f"
        ],
        "x": 1155,
        "y": 1260,
        "wires": []
    },
    {
        "id": "394ebdd7.1ba792",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump to Classification",
        "links": [
            "1f57c0d7.6c215f"
        ],
        "x": 1195,
        "y": 420,
        "wires": []
    },
    {
        "id": "e69f45b9.c0b698",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Classification Payload",
        "func": "msg.scoring_payload = {'values': msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1060,
        "wires": [
            [
                "fb4b299c.7c1098",
                "531f3c9e.439d94"
            ]
        ]
    },
    {
        "id": "fb4b299c.7c1098",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "Classification Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "scoring_payload",
        "x": 720,
        "y": 1000,
        "wires": []
    },
    {
        "id": "531f3c9e.439d94",
        "type": "http request",
        "z": "8605b5aa.204638",
        "name": "Get Token",
        "method": "GET",
        "ret": "obj",
        "url": "https://eu-de.ml.cloud.ibm.com/v3/identity/token",
        "tls": "",
        "x": 691,
        "y": 1107,
        "wires": [
            [
                "245a7b5c.d95904",
                "ad8430b3.b4f71"
            ]
        ]
    },
    {
        "id": "dabbdae6.047bd8",
        "type": "http request",
        "z": "8605b5aa.204638",
        "name": "Get Classification",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 711,
        "y": 1227,
        "wires": [
            [
                "8d45d703.aa0988",
                "144a2a65.e3a846",
                "1e1b1cbe.7d9d83",
                "683a1ca9.d16f24"
            ]
        ]
    },
    {
        "id": "245a7b5c.d95904",
        "type": "function",
        "z": "8605b5aa.204638",
        "name": "Classification Request",
        "func": "msg.headers = {\n    \"Accept\": \"application/json\",\n    \"Authorization\": 'Bearer ' + msg.payload.token,\n    \"Content-Type\": \"application/json;charset=UTF-8\"\n};\n\n// msg.url = \"https://eu-de.ml.cloud.ibm.com/v3/wml_instances/c6cffbe7-484d-4ddc-ba18-11212d5417d8/deployments/f4298867-8bba-4f0c-a4a5-bbdfd67e7ed2/online\";\nmsg.url = \"https://eu-de.ml.cloud.ibm.com/v3/wml_instances/ca8827ac-42b3-4b43-bfdc-7eafb3bf054b/deployments/807820a6-7574-4c42-b40d-3922af76d841/online\";\n\nmsg.payload = msg.scoring_payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 721,
        "y": 1167,
        "wires": [
            [
                "dabbdae6.047bd8"
            ]
        ]
    },
    {
        "id": "dd15a248.0be36",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "WML REST-API Call",
        "info": "",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2890d7a4.965378",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "Output the classified figure on the speaker",
        "info": "",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d0f4104b.114ab",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1190,
        "y": 1340,
        "wires": []
    },
    {
        "id": "85345542.d01e88",
        "type": "link in",
        "z": "8605b5aa.204638",
        "name": "SenseHAT",
        "links": [
            "977458de.bfce68",
            "c801c64f.d8f0e8",
            "842f323d.2f3b9"
        ],
        "x": 75,
        "y": 560,
        "wires": [
            [
                "6504f80a.554ac8"
            ]
        ]
    },
    {
        "id": "977458de.bfce68",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump SenseHAT",
        "links": [
            "85345542.d01e88"
        ],
        "x": 795,
        "y": 260,
        "wires": []
    },
    {
        "id": "c801c64f.d8f0e8",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump SenseHAT",
        "links": [
            "85345542.d01e88"
        ],
        "x": 1195,
        "y": 1220,
        "wires": []
    },
    {
        "id": "842f323d.2f3b9",
        "type": "link out",
        "z": "8605b5aa.204638",
        "name": "Jump SenseHAT",
        "links": [
            "85345542.d01e88"
        ],
        "x": 955,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0d6488a.ddd8d8",
        "type": "comment",
        "z": "8605b5aa.204638",
        "name": "Handle Display",
        "info": "",
        "x": 120,
        "y": 440,
        "wires": []
    },
    {
        "id": "ad8430b3.b4f71",
        "type": "debug",
        "z": "8605b5aa.204638",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1000,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d7de477f.967218",
        "type": "ui_group",
        "z": "",
        "name": "Motion Training",
        "tab": "26c1cd76.fcd652",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "787dd67f.06a908",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "bgn6wt",
        "serverName": "",
        "devType": "TjBot",
        "devId": "tjbot-01",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "26c1cd76.fcd652",
        "type": "ui_tab",
        "z": "",
        "name": "Training Motions",
        "icon": "dashboard",
        "order": 3
    }
]